.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: rgb(105, 146, 194);
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  background-color: rgb(105, 146, 194);
}

.letters {
  font-size: 70px;
}

.lwBorder {
  padding: 0;
  border-color: rgb(105, 146, 194);
  border-style: solid;
}

.titleWhatIs,
.titleHow,
.titleAfter {
  margin-top: 40px;
  font-size: 40px;
}

.gifFinal {
  margin-bottom: 40px;
}

@media (min-width: 0px) {
  .header {
    height: 300px;
  }

  .gifs {
    margin-top: 40px;
    width: 200px;
    height: 200px;
  }

  .fab {
    color: black;
    font-size: 80px;
  }
}

@media (min-width: 900px) {
  .letters {
    font-size: 70px;
  }

  .words {
    font-size: 20px;
  }

  .header {
    height: 400px;
  }

  .gifs {
    margin-top: 40px;
    width: 300px;
    height: 200px;
  }

  .fab {
    color: black;
    font-size: 80px;
  }
}